body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Friends page*/
div #individual-friend {
    display: inline-block;
    padding: 5px 40px 5px 40px;
}
#friends-profile-picture {
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
}

div #friend-name {
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*Near by dogs page*/
#near-by-dog-profile {
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 320px;
}

#near-by-dog-profile-picture {
    border-radius: 6%;
    width: 350px;
}

#near-by-dog-name {
    font-weight: bold;
}

#near-by-dog-info {
    padding: 5% 2%;
}

#like-dislike-buttons {
    clear: both;
}

#Disliked {
    float: left;
    margin-left: 20%;
}

#Liked {
    float: right;
    margin-right: 20%;
}

/*Navbar*/
.navbar-inverse {
    background-color: #8790B6;
    border-color: #8790B6;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

#zipCodeSearch {
    border-radius: 21px;
}

#searchButton {
    background: transparent;
    border-color: transparent;
    display: inline-block;
    color: #66757f;
}

/*Chatbox*/
#chatBox {
    display: none;
    position: fixed;
    width: 240px;
    height: 300px;
    background: #FFF;
    text-align: center;
    bottom: 0px;
    right: 15px;
    cursor: pointer;
    border-color: #DDD;
    z-index: 1;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.1);
    border-radius: 5px 5px 0 0;
}

#chat-box-bar {
    border-radius: 5px 5px 0 0;
    height: 24px;
    width: 100%;
    background-color: #8790B6;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    padding-top: 1%;
}

#close {
    position: absolute;
    right: 2%;
    top: 1%;
}

#chat-box-bottom-bar {
    background-color: transparent;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #DDD;
    bottom: 0;
    height: 50px;
    position: absolute;
    width: 100%;
}

#message-content {
    cursor: text;
}

#messageForm {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
}

/*Hero section*/
#hero-image {
    background-image: url('BackgroundPics/1.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    overflow: auto;
    position: relative;
}


#hero-message {
    float: left;
    margin-left: 5%;
    margin-top: 16%;
    text-align: center;
}

#hero-message > h1 {
    color: #FFF;
}

#hero-message > p {
    color: #FFF;
}

#join-us-one {
    background-color: #8790B6;
    border-radius: 4px;
    padding: 3% 5%;
}

#join-us-one > a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#join-us-two {
    background-color: #FFF;
    border-radius: 4px;
    margin-top: 3%;
    padding: 3% 5%;
}

#join-us-two > a {
    color: #8790B6;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/*Hero-2 section*/
#message-two {
    text-align: center;
}

#image-two {
    width: 70%;
    margin: 30px auto 50px auto;
    display: block;
}

/*Hero-3 section*/
#image-three {
    background-image: url('BackgroundPics/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 820px;
    overflow: auto;
    position: relative;
}

#message-three {
    float: right;
    margin-top: 25%;
    margin-right: 15%;
    text-align: center;
}

#join-us-three {
    background-color: #8790B6;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    padding: 5% 8%;
    text-decoration: none;
    text-transform: uppercase;
}

/*Hero-4 section*/
#good-looking-pups {
    overflow: auto;
    width: 80%;
    margin: 20px auto;
}

#message-four {
    text-align: center;
}

.pup-row {
    width: 100%;
    margin: 0 auto;
}

.pup {
    border-radius: 50%;
    float: left;
    margin: 2%;
    width: 21%;
}

