@model List<WoofBuddy.Models.Profile>
@{
    ViewBag.Title = "Friends";
}

<h2>Friends</h2>

@foreach (WoofBuddy.Models.Profile friend in Model)
{
    <div id="individual-friend">
        <img id="friends-profile-picture" src="@Url.Content("~/Content/ProfilePics/" + friend.FileDetails[0].FileDetailID + friend.FileDetails[0].Extension)" />
        <div id="friend-name">
            @friend.FirstName
        </div>
    </div>

}

