@{
    ViewBag.Title = "About";
}
<h2 id="about-title">@ViewBag.Title</h2>


<p id="about-message">WoofBuddy is the place to find playdates for your dogs. The idea came from the mom of two anti-social pups when she was constantly trying to find new friends for her doggy babie.</p>
