@{
    ViewBag.Title = "Home Page";
}

@section HeroBackgroundImage {
    <div id="hero-image">
        <div id="hero-message">
            <h1>Placeholder</h1>
            <p>Placeholder</p>
            <div id="join-us-one">
                @Html.ActionLink("Sounds Pawsome", "Register", "Account", new { }, new {  })
            </div>
            <div id="join-us-two">
                @Html.ActionLink("Already a Member", "Login", "Account", new { }, new {  })
            </div>
        </div>
    </div>
    }

@section BackgroundImageTwo {
   <div id="background-image-two">
       <div id="message-two">
           <h1>Placeholder</h1>
           <p>Placeholder</p>
       </div>
       <img id="image-two" src="~/Content/BackgroundPics/2.jpg" alt="Pug" />
    </div> 
    }

@section BackgroundImageThree {
    <div id="image-three">
        <div id="message-three">
            <h1>Placeholder</h1>
            <p>Placeholder</p>
            <div id="join-us-three">
                @Html.ActionLink("Find Me a Pawddy", "Register", "Account", new { }, new { })
            </div>
        </div>
    </div>
    }

@section BackgroundImageFour {
    <div id="good-looking-pups">
        <div id="message-four">
            <h1>Good-looking pups</h1>
            <p>Check out some of our pups!</p>
        </div>
        <div class="good-looking-pup-row">
            <div><img class="pup" src="~/Content/BackgroundPics/4.png" /></div>
            <div><img class="pup" src="~/Content/BackgroundPics/5.png" /></div>
            <div><img class="pup" src="~/Content/BackgroundPics/6.png" /></div>
            <div><img class="pup" src="~/Content/BackgroundPics/7.png" /></div>
        </div>

        <div class="good-looking-pup-row">
            <div><img class="pup" src="~/Content/BackgroundPics/8.png" /></div>
            <div><img class="pup" src="~/Content/BackgroundPics/9.png" /></div>
            <div><img class="pup" src="~/Content/BackgroundPics/10.png" /></div>
            <div><img class="pup" src="~/Content/BackgroundPics/11.png" /></div>
        </div>
    </div>
    }

  